@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800&display=swap');

@import 'tailwindcss';

@source "../pages/**/*.{js,ts,jsx,tsx}";
@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../layouts/**/*.{js,ts,jsx,tsx}";
@source "../lib/**/*.{js,ts,jsx,tsx}";

@theme {
  --color-white-alt: #cfd0d5;
  --color-primary-lighter: #403644;
  --color-primary-dark: #230e2f;
  --color-primary-darker: #130819;
  --color-white: #f5f5f4;
  --color-warm-gray-200: #e8e5e4;
  --color-warm-gray-400: #a3a3a3;
  --color-warm-gray-500: #78716c;
  --color-midnight: #130819;
  --font-Exo: 'Exo', sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.blog-content a {
  @apply text-white-alt hover:text-orange-500 transition-all underline-offset-4 decoration-orange-500;
}
